.home {
  display: grid;
  grid-template-columns: 25rem repeat(3 auto);
  grid-template-rows: 20% 15% 15% 15% 15% 20%;
  justify-content: left;

  height: 100vh;
  background: url('../../public/images/bg-home.png');
  background-size: cover;
  background-position: 50% 70%;
  /* background-color: var(--section-bg-color); */
}

.greetings {
  margin-left: 5rem;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  justify-self: center;
  text-align: left;
}

.greetings-text {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-8rem);
  animation: reveal-greetings 1.5s cubic-bezier(0.33, 1, 0.68, 1) 200ms 1
    forwards;
}

@keyframes reveal-greetings {
  from {
    opacity: 0;
    transform: translateY(-8rem);
  }
  to {
    opacity: 1;
    transform: translateY(-2rem);
  }
}

.download-cv {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5rem;
  width: fit-content;
}

.download-cv__download {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.download-cv__icon {
  vertical-align: top;
  height: 1.3rem;
  width: 1.3rem;
}
