.title {
  color: #999999;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.3rem;

  padding-top: 6rem;
  margin: 0 4rem;
  text-align: left;
}

.second-title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;

  margin: 1rem 4rem;
  text-align: left;
}
